.form-container {
  font-family: "Arial", sans-serif;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.form-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
.close-btn {
  cursor: pointer;
  font-size: 24px;
}
.form-label {
  font-size: 16px;
  color: #333;
  margin-bottom: 8px;
  display: block;
}
.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
  justify-content: space-between;
}

.input-group2 {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
  justify-content: space-between;
}

.input-group label {
  flex: 1;
}
.input-group input {
  flex: 2;
}
.add-month {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: none;
  color: white;
  background-color: #007bff;
  border-radius: 4px;
  cursor: pointer;
}
.submit-btn {
  border-radius: 8px;
  background: linear-gradient(180deg, #7759d2 0%, #367ad0 100%);
  padding: 13px;
  color: #fff;
  border: none;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
}

.tabs {
  width: 60%;
  border-bottom: 1px solid rgb(226, 226, 226);
  display: flex;
  margin-bottom: 20px;
  .tab {
    margin-right: 40px;
    p {
      font-weight: 500;
    }
    &.active {
      border-bottom: 1px solid black;
      > p {
        font-weight: 700;
      }
    }
  }
}
