.header-main {
  width: calc(100% - 272px);
  margin-left: 272px;
  .header {
    padding: 18px 30px 18px 30px;
    .header-flex {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .noti {
        position: relative;
        padding-right: 26px;
        border-right: 1px solid black;
        cursor: pointer;
        .count {
          border-radius: 100px;
          background: linear-gradient(180deg, #7759d2 0%, #367ad0 100%);
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: -8px;
          left: 8px;
          p {
            font-size: 10px;
            margin-bottom: 0;
            font-weight: 700;
            color: #fff;
          }
        }
      }
      .profile {
        padding-left: 20px;
        .btn-secondary {
          background: transparent;
          color: #393939;
          border: none;
          font-weight: 600;
        }
        span {
          font-weight: 500;
          font-size: 14px;
        }
      }
    }
  }
}
