.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    .login-card {
        width: 600px;
        padding: 20px;
        .title {
            color: #171918;
            font-size: 45px;
            font-weight: 700;
            text-align: center;
        }
        p {
            text-align: center;
            color: #080A09;
            margin-bottom: 4rem;
        }
        label {
            font-weight: 700;
            color: #080A09;
            text-transform: uppercase;
            margin-bottom: 4px;
            font-family: 'Nimbus Sans', sans-serif !important;
        }
        .forgot {
            color: #000;
            font-weight: 700;
            text-transform: uppercase;
        }
        .form-control {
            border: 1px solid #171918;
            padding: 14px 10px;
            border-radius: 0px;
        }
        .login-btn {
            width: 100%;
            background-color: #000;
            border: none;
            padding: 15px 0px;
            border: none;
            border-radius: 0px;
        }
    }
}